@use 'base.scss' as *;

.qr-code {
  --content-padding: .9rem;
  --content-spacing: 1.25rem;
  --border-radius: 1rem;

  display: grid;
  gap: var(--content-spacing);
  max-width: 300px;
  padding: var(--content-padding);
  padding-bottom: 2rem;
  border-radius: var(--border-radius);
  background-color: var(--clr-neutral-900);
  text-align: center;

  &__img {
    border-radius: calc(var(--border-radius) / 2);
  }

  &__content {
    display: grid;
    gap: var(--content-padding);
    padding-inline: .75rem;
  }
}